{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page - Dashboard Admin Template</title>
    <link rel="shortcut icon" href="{% static 'img/aa.png' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min1.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min1.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/tooplate1.css' %}">
</head>

<body class="bg03">
    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">Register</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <form action="RegisterPage" method="post" class="tm-login-form">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">User</label>
                                    <input name="un" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username" placeholder="用户名" required>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Password</label>
                                    <input name="pwd" type="password" class="form-control validate" id="password" placeholder="密码" required>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">telephone</label>
                                    <input name="tel" type="password" class="form-control validate" id="password" placeholder="手机号" required>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="submit" class="btn btn-primary d-inline-block mx-auto" value="注册"></input>


                                </div>
                                <div class="input-group mt-3">
                                    <a href="login" ><h6 align="center">已有账户?登录</h6></a>

                                </div>
                                {% if messages %}
                                   <script>
                                   {% for msg in messages %}
                                          alert('{{ msg.message }}');
                                   {% endfor %}
                                   </script>
                                {% endif %}



                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>